*~
.*~
..*~

.*.swp

*.jou
*.log

petalinux/
hdl/
bdf/
meta-avnet/
target/

.git_setup
.vivado_setup
.petalinux_setup
.vivado_built
.petalinux_setup
.petalinux_configured
.petalinux_built
.ubuntu_built
.ubuntu_modules_imported
.boot_files_packaged
.image_created
