*~
.*~
..*~
**/.*~

.*.swp

*.jou
*.log
.Xil
vivado*.str

/petalinux/
/hdl/
/bdf/
/meta-avnet/
/target/
/PYNQ/

.git_setup
.vivado_setup
.petalinux_setup
.vivado_built
.petalinux_configured
.petalinux_built
.ubuntu_built
.boot_packaged
.rootfs_packaged
